
@font-face
{
    font-family: dosislight;
    src: url("../assets/fonts/Dosis-Light.ttf");
}

@font-face
{
    font-family: dosisbold;
    src: url("../assets/fonts/Dosis-Bold.ttf");
}

#forge-plugins-video-alert-cors
{
    font-family: dosislight, sans-serif;
}

#forge-plugins-video-alert-cors h1
{
    margin: 0px 0px 10px 0px;
    padding: 0;
    color: #00a3da;
    font-family: dosisbold, sans-serif;
}

#forge-plugins-video-alert-cors a
{
    color: #00a3da;
    font-weight: bold;
    text-decoration: none;
}