
@font-face
{
    font-family: pfdintextprolight;
    src: url("../assets/fonts/pfdintextpro-light.otf") format("opentype");
}

@font-face
{
    font-family: pfdintextpromedium;
    src: url("../assets/fonts/pfdintextpro-medium.otf") format("opentype");
}

@font-face
{
    font-family: pfdintextprobold;
    src: url("../assets/fonts/pfdintextpro-bold.otf") format("opentype");
}
