
#editor-main-container
{
    pointer-events: all;
    width: 200px;
    background-color: #535353;
    color: #cdcdcd;
}

#hotspot-add-button,
#hotspot-delete-button,
#hotspot-undo-button,
#hotspot-redo-button,
#hotspot-save-button,
#hotspot-load-button
{
    width: 30%;
    margin-left: 13.3%;
    margin-top: 10px;
}

#hotspots-list
{
    direction: rtl;
    width: 100%;
    height:150px;
    overflow-y : scroll;
    background-color: #2a2a2a;
    margin: 10px 0px;
}

#hotspots-list>p
{
    height: 20px;
    line-height: 20px;
    margin: 2px;
    background-color: #323232;
    padding: 2px 18px;
    cursor: pointer;
    font-family: Verdana, Monospace, Consolas, Menlo-Regular, serif;
    font-size: 11px;
    color: #009fdf;
    text-align: left;
}

#hotspots-list>p:hover
{
    background-color: #009fdf;
    color: white;
}

#hotspots-list>p.selected
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAA51BMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////bMJBQAAAATHRSTlMAAQIEBgcKCw4RFhgeICIkJyswO0NFRktOUFFUVVheY2RueXp8fYCBgoWGh4mKjJqbn6Girba3uMHEx8nR2d3f4uPm6evw8fX2+Pr9f9OaIwAAALFJREFUeAFVyNVCwzAAhtEfhrs7QxgusBWXUYTSwvf+z0MSkiU9l0fewu7lVWupocTqA87TZrxrem4H/T2T6P7vHTWPMlaIigpoSnqNV41O5PDZp/nkZqQLYFH7GOWbv+1f4EhtIJ/qf6e0h9VWBmTS2P1cODo6wWjJCMe5lgm7hbehgS+sPTXxfoalHZwbggMZXWo+ZI2XpKblTL7EymcVHBY432cNRUNrx53sdH1Ezh/Y9kvZTVhkxAAAAABJRU5ErkJggg==);
    /*
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABNklEQVQ4jZ3UsStFURgA8N97RDHZDBJSBotBBkbJoGRRJguzP0AUBkX+A4O/wIoMkpQog9HwyBMlC4okPMPz6jrde999vvqWc77v951zO92c9BjGADqRww3OcIDPKr1/YgLHKCXkKaayYtspUJi7aEzDLmrAKllIQvf+gVXyJMTGawSe8R6sTUfB6xqwd7SgHcXI+qPySzBUI9YTOchGsD8CizGNb7itgs3iK6hZga1gsYgu5HEfGRBicTfYyqPO3zjEFb7RhyMM4jKCbYqPPKzGTFpIaEg6WSXXYSxhM0RnqmAlTEIDnhIK5n+x6QzYB5or0+dSCncyYCUshd+nkLExLh9CDFqVn8d/wO44EDqUn0dWqIjeJCway8o/gCToFWuoDxtzKWgTRtGPtt/aO5xjHy9xTT/6efkqXv+hxAAAAABJRU5ErkJggg==);
    */
    background-repeat: no-repeat;
    background-position: 3px center;
    background-size: 10px 10px;
}

#hotspots-list::-webkit-scrollbar {
    width: 10px;
}

#hotspots-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#hotspots-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

div#editor-dialog-container
{
    box-sizing: border-box;
    position: absolute;
    pointer-events: all;
    width: 300px;
    height: 120px;
    background-color: #535353;
    color: #cdcdcd;
    overflow: hidden;
    display: none;
    font-family: Verdana, Monospace, Consolas, Menlo-Regular, serif;
    font-size: 11px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

p#editor-dialog-title
{
    box-sizing: border-box;
    pointer-events: all;
    width: 100%;
    height: 30px;
    margin: 0px;
    padding: 0px;
    background-color: #cdcdcd;
    color: #535353;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}

p#editor-dialog-message
{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px);
    color: #cdcdcd;
    padding: 15px 30px;
    text-align: center;
    margin: 0;
}

div#editor-dialog-buttons
{
    box-sizing: border-box;
    pointer-events: all;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 0px;

}

div#editor-dialog-buttons>button
{
    margin: 0px 5px;
}